footer {
	position: fixed;
	bottom: 0;
    width: 100%;
}

body {
	background-image: url('img/Background.jpg'); 
	margin-bottom: 20vh;
}

.adv-search:hover .search
{
	display: block;
}
.search:hover
{
	display: block;
}
.search
{
	z-index: 2;
	display: none;
	border: 1px solid black;
	color: black;
	background-color: #e9ecef;
	border-radius: 10px;
	padding: 4px;
}

.pic:hover .menu-pic
{
	display: block;
}
.menu-pic:hover
{
	display: block;
	
}
.menu-pic
{
	z-index: 2;
	display: none;
	border: 2px solid black;
}

li
{
	list-style:none;
}

hr
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.infos
{
	border: 1px solid black;
}

.marginforpic
{
	margin-top: 8px; 
	margin-bottom: 8px;
}

.hr2
{
	border-left: 1px solid black; 
	height: 25px; 
	margin: 0px;
}

.inf
{
	font-weight: bold;
	font-size: 18px;
}