<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	
	<div class="alert alert-light col-6 offset-3 text-center" style="margin-top: 1rem;">Your are looking "<b><i><%- title %></i></b>"</div>
	<div class="text-center">
	<video controls autoplay name="media" style="width: 90vw;"><source src="/torrents/<%- path %>" type="video/mp4"></video>
	</div>
	
</body>
<% include footer.ejs %>

</html>