<footer>
  <div class="text-center py-4 bg-dark" style="color:white;">© 2018 <%= __("Copyright") %> 
    <i style="margin: 8px;"> echouvet alefebvr llacaze</i>
    <a href="/"> Hypertube.com</a>
  </div>
</footer>
