<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<title>Hypertube</title>
<div class="page-header">
    <div class="container">
    	<div class="jumbotron" style="margin-bottom: 0px;">
    		<h1>Hypertube !</h1>
    		<p>Hypertube is the last project of the 42's web branch. We did it with nodeJS and Bootstrap. Have fun !</p> 
  		</div>
  		<% if (1 == 2) { %>
  		<p style="text-align: center;">You have to be logged to use Hypertube.</p>
  		<% } else { %>
  		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  			<form class="form-inline" action="/search">
    			<input class="form-control mr-2" type="text" placeholder="Search">
    			<button class="btn btn-success" type="submit">Search</button>
  			</form>
		</nav>
  		<% } %>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>