<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.ejs %>
</head>
<body style="background-image: url('img/Background.jpg');">
	<div class="container w-25 text-center border-radius" style="background-color: rgb(100,100,100,0.5); color:white;padding: 25px; margin-top:3em;">
		<form action="login" method="post">
			<div class="form-group row">
	  			<label for="usr" class="col-2 col-form-label">Login</label>
	  			<div class="col-10">
	  				<input type="text" class="form-control" id="usr" name="login">
	  			</div>
	  		</div>
	  		<div class="form-group row">
	  			<label for="pwd" class="col-2 col-form-label">Password</label>
	  			<div class="col-10">
	  				<input type="password" class="form-control" id="pwd" name="pass">
	  			</div>
			</div>
			<button type="submit" class="btn btn-link" style="font-weight:bold; text-decoration: none;">Sign In</button>
			<a href="register" class="btn btn-link text-right">Sign Up</a>
		</form>
		<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-warning">
  			<strong>Warning !</strong> <%- error %>
		</div>
		<% } %>
	</div>
</body>
</html>