<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.ejs %>
</head>
<body>
	<div class="container w-25 text-center border-radius" style="background-color: #b3b3b3; padding: 20px;">
		<form action="login" method="post">
			<div class="form-group col-12">
	  			<label for="usr">Login</label>
	  			<input type="text" class="form-control" id="usr" name="login">
	  		</div>
	  		<div class="form-group col-12">
	  			<label for="pwd">Password</label>
	  			<input type="password" class="form-control" id="pwd" name="pass">
			</div>
			<button type="submit" class="btn btn-link" style="font-weight:bold; text-decoration: none;">Sign In</button>
			<a href="register" class="btn btn-link text-right">Sign Up</a>
		</form>
		<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-warning">
  			<strong>Warning !</strong> <%- error %>
		</div>
		<% } %>
	</div>
</body>
</html>