<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.ejs %>
</head>
<body style="background-image: url('img/Background.jpg');">
	<div class="container w-50 text-center" style="background-color: rgb(100,100,100,0.5); color:white; padding: 25px; margin-top:3em;">
		<a href="login" class="btn btn-link" style="margin-bottom: 0.5rem; ">Log-In</a>
		<form action="register" method="post">
	  		<div class="form-group row">
  				<label for="first" class="col-2 col-form-label">Firstname</label>
  				<div class="col-10">
    				<input class="form-control" type="text" name="firstname" id="first" placeholder="First name">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="last" class="col-2 col-form-label">Lastname</label>
  				<div class="col-10">
    				<input class="form-control" type="text" name="lastname"  id="last" placeholder="Last name">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="mail" class="col-2 col-form-label">Email</label>
  				<div class="col-10">
    				<input class="form-control" type="email" name="mail" id="mail" placeholder="example@42.fr">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="login" class="col-2 col-form-label">Login</label>
  				<div class="col-10">
    				<input class="form-control" type="text" name="login" id="login" placeholder="Username">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="pass" class="col-2 col-form-label">Password</label>
  				<div class="col-10">
    				<input class="form-control" type="password" name="pass" id="pass" placeholder="Password">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="passc" class="col-2 col-form-label">Confirm</label>
  				<div class="col-10">
    				<input class="form-control" type="password" name="confirmpass" id="passc" placeholder="Confirm password">
  				</div>
			</div>
			<div class="form-group row">
  				<label for="lang" class="col-2 col-form-label">Preference</label>
  				<div class="col-10">
  				<select class="custom-select" id="lang">
    				<option selected>Language...</option>
    				<option value="1">Francais</option>
    				<option value="2">English</option>
    				<option value="3">Deutch</option>
  				</select>
  				</div>
  			</div>
  			<div class="form-group row">
  				<label for="imgprofile" class="col-2 col-form-label" style="">Picture</label>
  				<div class="col-10">
    				<input type="file" class="custom-file-input" id="imgprofile">
    				<label class="custom-file-label" for="imgprofile">Choose file...</label>
    			</div>
  			</div>

			<button type="submit" class="btn btn-link" style="font-weight:bold; font-size: 20px; text-decoration: none;">Sign Up</button>
			
		</form>
		<% if (typeof error !== 'undefined' && error && error !== 'none')  { %>
		<div class="alert alert-warning" style="margin-bottom: 0px;">
  			<strong>Warning !</strong> <%- error %>
		</div>
		<% } %>
	</div>
</body>
</html>